# Stable Streamlit version
streamlit==1.19.0

# NLP & ML
sentence-transformers==2.2.2
scikit-learn==1.7.2
numpy==2.3.2
pandas==2.3.2
PyPDF2==3.0.1
python-docx==1.2.0
spacy==3.8.7
nltk==3.9.1
openai==1.107.0

# Optional visualization
matplotlib==3.10.6
altair==4.2.0
